.alert {
    margin: 1rem 0;
    padding: 0.5rem;
    border-radius: 1rem;
    border: 0.1rem solid transparent;
}

.alert--success {
    background-color: rgb(119 221 118 / 0.25);
    border-color: rgb(119 221 118 / 0.5);
    color: green;
}

.alert--error {
    background-color: rgb(255 105 98 / 0.5);
    border-color: rgb(255 105 98 / 0.5);
    color: red;
}