.navbar {
    background-color: white;
    border-bottom: 0.25rem solid rgb(80, 80, 80);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex: 1;
    top: 0;
    width: 100vw;
}

.logo {
    width: 15rem;
}

.navbar-links {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navbar-links-item > a {
    margin: 0;
    padding: 0.75rem;
    display: inline-block;
    text-align:center;
    text-decoration: none;
    color: black;
    font-weight: 400;
}
  
.navbar-links-item > a:hover {
    font-weight: 700;
}

.navbar-links-item .active {
    background-color: #774872;
    color: white;
    font-weight:bold;
    border-radius: 1.5rem;
}

@media only screen and (max-width: 900px) {
    .navbar-links {
        margin: 0.5rem;
    }
}