.sideBar {
    margin-top: 0;
    padding: 0;
    background-color: white;
    font: inherit;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    gap: 1ch;
}

input, button {
    font-size: 1rem;
    font: inherit;
    display: block;
	box-sizing: border-box;
	border-radius: 0.5rem; 
}

.sideBar__button {
    background: #774872;
	color: #fff;
    font-weight: bolder;
    padding: 0.25rem 0.5rem;
}

input {
	border: 0.1rem solid #774872;
	box-shadow: inset 0px 0.1px 1px rgba(0, 0, 0, 0.33);
    padding: 0.25rem;
}

.sideBar ul {
    list-style-type: none;
}

.sideBar__title {
    display: block;
    color: black;
    font-weight: bolder;
}

.sideBar li a {
    display: block;
    width: 12vw;
    color: black;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-weight: normal;
}

.sideBar li a:hover {
    background-color: #F8F8F8;
    color: black;
}

@media (min-width: 500px) {
    .sideBar ul {
        height: 100vh;
        position: sticky;
        overflow: auto;
    }
  }

@media (max-width: 500px) {
    .sideBar ul li a {
        width: 100vw;
    }
}
